# 
# Webserver Configurations
# ---

WEBSERVER_PORT=8080

# TLS certificate for HTTP/2
WEBSERVER_TLS_CERT_PATH=/tmp/cert.pem
WEBSERVER_TLS_KEY_PATH=/tmp/key.pem

# maximum chunk size
WEBSERVER_SIZE_LIMIT_MB=128

# public minio endpoint for serve chunk files
# make sure chunk files are publicly availiable at `<WEBSERVER_STATIC_ENDPOINT_PREFIX>/<CHUNK_ID>`
WEBSERVER_STATIC_ENDPOINT_PREFIX=https://minio.example.com/bucket/chunks/

# 
# Minio Configurations
# --- 

# private minio endpoint for upload chunk binaries
# do not put https:// or http:// in front of endpoint url
MINIO_ENDPOINT=minio.internal:9000

# Minio credentials
MINIO_ACCESS_KEY_ID=
MINIO_SECRET_ACCESS_KEY=

# Bucket name for store chunk files
MINIO_BUCKET_NAME=bucket
MINIO_BUCKET_KEY_PREFIX=chunks/

# true for https:// minio endpoint
MINIO_ENDPOINT_SECURE=false

# 
# CronJob Worker Configuration
# ---

# Total chunk pool size limit for purge unused chunks
CRONJOB_POOL_SIZE_LIMIT_MB=

# 
# Database Configurations
# ---

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_SCHEMA=
DATABASE_HOST=
DATABASE_PORT=

# 
# Discord Autnetication Configuration
# ---

# enable this if you want discord authentication
DISCORD_AUTH_ENABLED=false
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URL=https://localhost:8080/auth/callback
DISCORD_AUTH_TOKEN=youshallnotpass
DISCORD_TARGET_GUILD_ID=
