
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <title>thepool.</title>

    <link rel="stylesheet" href="/assets/style.output.css">
    <link rel="stylesheet" href="/lib/@fontsource/vt323/index.css">
    <link rel="stylesheet" href="/lib/@fontsource-variable/roboto/index.css">
    <link rel="stylesheet" href="/lib/@fontsource-variable/merriweather/index.css">

    <link rel="shortcut icon" href="/assets/favicon.webp" type="image/webp">

    <meta name="description" content="thepool is a file sharing service with unlimited file sizes and reliable parallel upload/download capabilities." />
    <meta name="keywords" content="thepool, file, file share, file upload, file download, parallel upload, parallel download" />
    <meta name="author" content="Minhyeok Park" />
    <meta name="robots" content="noindex" />

    <meta content="thepool." property="og:title" />
    <meta content="thepool is a file sharing service with unlimited file sizes and reliable parallel upload/download capabilities." property="og:description" />
    <meta content="https://pool.pmh.codes" property="og:url" />
    <meta content="https://pmh.codes/assets/favicon.webp" property="og:image" />
    <meta content="website" property="og:type" />
    <meta content="pmh.codes" property="og:site_name" />
    <meta content="512" property="og:image:width" />
    <meta content="512" property="og:image:height" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@pmh_only" />
    <meta name="twitter:creator" content="@pmh_only" />
    <meta name="twitter:title" content="thepool." />
    <meta name="twitter:description" content="thepool is a file sharing service with unlimited file sizes and reliable parallel upload/download capabilities." />
    <meta name="twitter:image" content="https://pool.pmh.codes/assets/favicon.webp" />

    <meta content="#ffaaaa" name="theme-color" />
    <meta name="msapplication-TileColor" content="#c59f61" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    
    <link rel="manifest" href="/assets/manifest.json" />
  </head>
  <body>
    <nav class="navbar bg-base-100 shadow-sm">
      <a class="btn btn-ghost text-xl ff-display" href="/">thepool.</a>
    </nav>

    <main class="flex-1 grow container py-8 px-4 m-auto flex flex-col gap-6 items-end">
      <div class="flex gap-6 flex-wrap w-full flex-1 grow flex-col lg:flex-row lg:items-start">
        <div class="flex flex-col gap-6 lg:max-w-sm w-full">
          <div class="mockup-code w-full flex-1 grow overflow-auto min-h-32" id="log"></div>
          <progress class="progress" id="loading"></progress>

          <div id="failed" role="alert" class="alert alert-error alert-soft hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span><b>Oops.</b> You don't have permission to use this service. please contact administrator.</span>
          </div>

          <button id="back" class="btn btn-primary hidden">Back to upload screen</button>
        </div>
      </div>
    </main>

    <script src="/assets/callback.js"></script>
  </body>
</html>
