<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <title>thepool: parallel streaming download</title>

    <link rel="stylesheet" href="/assets/style.output.css">
    <link rel="stylesheet" href="/lib/@fontsource/vt323/index.css">
    <link rel="stylesheet" href="/lib/@fontsource-variable/roboto/index.css">
    <link rel="stylesheet" href="/lib/@fontsource-variable/merriweather/index.css">
  </head>
  <body>
    <nav class="navbar bg-base-100 shadow-sm">
      <a class="btn btn-ghost text-xl ff-display" href="/">thepool.</a>
    </nav>

    <main class="flex-1 grow container py-8 px-4 m-auto flex flex-col gap-6 items-end">
      <div class="flex gap-6 flex-wrap w-full flex-1 grow flex-col lg:flex-row lg:items-start">
        <div class="flex flex-col gap-6 lg:max-w-sm w-full">
          <form id="form">
            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
              <legend class="fieldset-legend">Download file</legend>
    
              <label class="label">Collection ID</label>
              <p id="collection" class="ff-mono text-2xl">Loading...</p>
    
              <label class="mt-2 label">Parallel workers: <span id="parallel_count" class="font-bold">6</span></label>
              <div class="w-full">
                <input class="range w-full" type="range" id="parallel" min="1" max="12" value="6" disabled />
                <div class="flex justify-between px-2 mt-1 text-lg ff-mono">
                  <span>1</span>
                  <span>F</span>
                </div>
              </div>
              
              <button type="submit" id="submit" class="btn btn-primary mt-4" disabled>
                Parallel Download
              </button>
            </fieldset>
          </form>

          <div class="mockup-code w-full flex-1 grow overflow-auto hidden lg:block" id="log"></div>
        </div>
  
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box grow flex-1 border p-4 min-h-96">
          <legend class="fieldset-legend">Download tasks</legend>
          <div id="panel" class="flex flex-col gap-2">

          </div>
        </fieldset>
      </div>
    </main>
    
    <script src="/assets/commons.js"></script>
    <script src="/assets/download.js"></script>
  </body>
</html>
