<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <title>thepool: parallel streaming upload</title>

    <link rel="stylesheet" href="/assets/style.output.css">
    <link rel="stylesheet" href="/lib/@fontsource/vt323/index.css">
    <link rel="stylesheet" href="/lib/@fontsource-variable/roboto/index.css">
    <link rel="stylesheet" href="/lib/@fontsource-variable/merriweather/index.css">
  </head>
  <body>
    <nav class="navbar bg-base-100 shadow-sm">
      <a class="btn btn-ghost text-xl ff-display">thepool.</a>
    </nav>

    <main class="flex-1 grow container py-8 px-4 m-auto flex flex-col gap-6 items-end">
      <div class="flex gap-6 flex-wrap w-full flex-1 grow flex-col lg:flex-row">
        <form id="form" class="w-fit">
          <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Upload file</legend>
  
            <label class="label">File(s)</label>
            <input class="file-input" type="file" id="file" multiple />
  
            <label class="mt-2 label">Parallel workers: <span id="parallel_count" class="font-bold">6</span></label>
            <div class="w-full max-w-xs">
              <input class="range" type="range" id="parallel" min="1" max="12" value="6" />
              <div class="flex justify-between px-2 mt-1 text-lg ff-mono">
                <span>1</span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span>6</span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span>F</span>
              </div>
            </div>
            
            <button type="submit" id="submit" class="btn btn-primary mt-4">
              Parallel Upload
            </button>
          </fieldset>
        </form>
  
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box grow flex-1 border p-4">
          <legend class="fieldset-legend">Upload tasks</legend>
          <div id="panel"></div>
        </fieldset>
      </div>

      <div class="mockup-code w-full max-w-2xl" id="log"></div>
    </main>
    
    <script src="/assets/commons.js"></script>
    <script src="/assets/upload.js"></script>
  </body>
</html>
