@import "tailwindcss" source(none);
@source "../{public,views}/*.{html,js}";
@plugin "daisyui" {
  themes: coffee --default;
}

html {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

body {
  font-family: 'Roboto Variable', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ff-display {
  font-family: 'Merriweather Variable', serif;
}

.ff-mono {
  font-family: 'VT323', monospace;
}
